/*设置登录与展示界面的样式*/
/*设置内外边距与字体*/
*{
    padding: 0;
    margin: 0;
    font-family: "Aguazyuan",'Courier New', Courier, monospace;
}

.content{
    /*设置页面窗口的宽度*/
    width:100%;
    /*设置页面窗口的高度*/
    height:100%;
    /*设置页面背景颜色*/
    background-color: rgb(186, 175, 221);
    /*设置相对定位position: relative;*/
    position: fixed;
    z-index: -1;
}

.content .login-wrapper{
    width: 90%;
    height: 80%;
    /*设置页面背景颜色*/
    background-color: #fff;
    border-radius: 40px;
    margin: 0 auto;
    /*设置绝对定位*/
    position: absolute;
    left: 50%;
    top: 45%;
    /*将元素对齐*/
    transform: translate(-50%,-46%);
    /*设置弹性布局*/

    display: flex;
   
}
/*设置left部分*/
.left-img{
    border-radius: 40px;
    flex: 1;
    background: url(./背景.jpg)no-repeat;
    background-size: cover;
    position: relative;

}
.content .login-wrapper .left-img .glass{
    width: 60%;
    padding: 20px;
    color: #070000;
    /*设置绝对定位*/
   position: absolute;
    top: 20%;
    left: 50%;
    /*将元素对齐*/
    transform: translate(-50%,-20%);
    /*设置背景颜色*/
    background-color: rgba(255, 255, 255, 0.1);
    /*设置阴影*/
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.7);
    /*背景毛玻璃*/
    backdrop-filter: blur(10px);
    /*主要针对旧版浏览器*/
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.48);
}
.content .login-wrapper .left-img .glass .tips .title{
   /*窗口宽度*/
    width: 20%;
   /*窗口宽度*/ 
    font-weight: 600;
    /*字体大小*/
    font-size: 10px;
    text-align: center;
    /*内外边距*/
    padding: 10px;
    overflow: hidden;
    background-color: rgba(225, 225,225, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 136, 0.37);
    /*背景毛玻璃*/
    backdrop-filter: blur(10px);
    /*主要针对旧版浏览器*/
    -webkit-backdrop-filter: blur(10px);
    /*产品介绍边框弧度与颜色*/
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.48);

}
.content .login-wrapper.left-img.glass.tips h1{
    margin: 15px 0 ;
    font-size: 30rem;
}
.content .login-wrapper.left-img.glass.tips span{
    margin: 5px 0 ;
    display: block;
    font-family: 100; 
}
/*设置right-login部分*/
.content .login-wrapper .right-login-form{
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.form-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    


}
.content .login-wrapper .right-login-form .form-wrapper h1{
    font-size: 30px;
    text-align: center;
}
.content .login-wrapper .right-login-form .form-wrapper .input-items{
    margin: 5px 0;
}
.content .login-wrapper .right-login-form .form-wrapper .input-tips{
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    margin: 10px 0;
}
.inputs{
    width: 100%;
    height: 45px;
    /*设置弧度*/
    border-radius: 10px;
    border: 1px solid rgb(227, 227, 227);
    /*设置内边距*/
    padding: 20px;
    box-sizing: border-box;
    /*点击输入框无黑色外框线*/
    outline: none;
    transition: 0.5s;
}
.inputs:focus{
    border: 1px solid rgb(128, 106, 196);
}
.forgot{
    float: right;
    text-align: right;
    font-weight: 600;
    /*外边距*/
    margin: 5px 0;
    /*鼠标放上变成手指*/
    font-size: 13px;
    cursor: pointer;
}
.btn{
    width: 100%;
    height: 45px;
    background-color: rgb(128, 106, 196);
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    margin: 10px 0;
    /*鼠标放上变成手指*/
    cursor: pointer;
}
.siginup-tips{
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
}
.siginup-tips span:last-child{
    color: rgb(110, 87, 179);
    /*鼠标放上变成手指*/
    cursor: pointer;
}
.divider{
    width: 100%;
    margin: 10px 0;
    text-align: center;    
    display: flex;
    align-items: center;    
    justify-content: space-between;
}
.line{
    display: inline-block;
    max-width: 35%;
    width: 35%;
    flex: 1;
    height: 1px;
    background-color: rgb(162, 172, 185);
}
.divider-text{
    vertical-align: middle;
    margin: 0 20px;
    display: inline-block;
    width: 50px;
    color: rgb(162,172,185);
    white-space: normal;
}
.other-login-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-login-item{
    width: 70px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(51,49,116);
    margin: 0 10px;
    transition: 0.4s;
    /*鼠标放上变成手指cursor: pointer;*/
}
.other-login-item img{
   width: 50px;
   height: 50px;
    /*设置对齐方式*/
   vertical-align: middle;
}
.other-login-item span{
    /*设置对齐方式*/
    vertical-align: middle;
 }
 /*点上图标后变化*/
 .other-login-item:hover{
    width: 80px;
    height: 50%;
    background-color: #fff;
    border: 0;
    box-shadow: 1px 10px 32px 1px rgba(186, 175,221, 0.37);
 }
 a{
    text-decoration: none;}
 /*媒体查询*/
 @media(max-width:768px){
    .login-wrapper{
        padding: 1%;
        float: none;
        margin-left:auto;
        margin-right:auto;
    }
    .left-img{
        display: none;
        margin-left:auto;
        margin-right:auto;
    }
    .login-wrapper{
        padding: 1%;
        float: none;
        margin-left:auto;
        margin-right:auto;
    }


 }